@import "../styles/variables.scss";

.navbar {
  transition: all 0.2s ease-in;
  text-align: center;
  padding: 20px !important;
  z-index: 110;
  &:focus {
    outline: none;
  }
  li {
    margin-bottom: 0;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
  }
  @media (max-width: 1199px) {
    padding: 10px 20px !important;
    ul {
      padding: 0;
    }
    li {
      margin-bottom: 20px;
      list-style: none;
      display: block;
      margin-right: 0;
    }
  }
}

.up {
  @media (max-width: 1199px) {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    background: rgba(47, 50, 56, 0.8);
  }
}

.down {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  background: rgba(47, 50, 56, 0.8);
}

.nav-link {
  color: #e6e6e6b9;
  font-size: 1.05rem;
  // font-weight: bold;
  // text-transform: lowercase;
  font-weight: 500;
  text-decoration: none;
  font-family: $header-font;
  transition: 0.5s;
  letter-spacing: 1.5px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75),
    0px -1px 1px rgba(0, 0, 0, 0.75);

  /* Wobble */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  &:hover {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
    text-decoration: none;

    /* Wobble */
    animation: wobble-horizontal-on-hover 0.82s
      cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -moz-animation: wobble-horizontal-on-hover 0.82s
      cubic-bezier(0.36, 0.07, 0.19, 0.97) both; /* Firefox */
    -webkit-animation: wobble-horizontal-on-hover 0.82s
      cubic-bezier(0.36, 0.07, 0.19, 0.97) both; /* Safari and Chrome */
    -o-animation: wobble-horizontal-on-hover 0.82s
      cubic-bezier(0.36, 0.07, 0.19, 0.97) both; /* Opera */
    -ms-animation: wobble-horizontal-on-hover 0.82s
      cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  padding: 5px 15px;
}

.active-nav-link {
  a {
    color: #ffffff;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
    &:hover {
      color: #ffffff;
      text-shadow: 0 0 5px #ffffff;
    }
  }
}

.navbarBrand {
  display: inline-flex;
  align-items: center;
  svg {
    width: 40px;
    opacity: 0.85;
    margin-right: 8px;
  }
  p {
    margin: 0;
  }
  &:hover {
    text-decoration: none;
  }
}

/* Navbar Hamburger animation */

$color: #e6e6e6;

@mixin btn($left, $top) {
  position: relative;
  width: 60px;
  height: 60px;
  // top: $top;
  // left: $left;
  transition-duration: 0.5s;
  cursor: pointer;
  &:active {
    background: rgba(255, 255, 255, 0.116);
  }
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  // top: 30px;
  background-color: $color;
  margin-left: 1.75px;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $color;
  content: "";
  top: $top;
  right: 0;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $color;
  content: "";
  top: $top;
  right: 0;
}

.toggler {
  border: none !important;
  outline: none !important;
  @include btn(0, 0);
  .icon {
    @include icon(4px, 30px);
    &:before {
      @include icon-before(4px, 30px, -10px);
    }
    &:after {
      @include icon-after(4px, 30px, 10px);
    }
  }
  &.open {
    .icon {
      transition-duration: 0.5s;
      background: transparent;
      &:before {
        transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
      }
      &:after {
        transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}

/*===================*/
/* WOOBLE HORIZONTAL
/*===================*/

@-webkit-keyframes wobble-horizontal-on-hover {
  10%,
  90% {
    transform: translate3d(-0.5px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes wobble-horizontal-on-hover {
  10%,
  90% {
    transform: translate3d(-0.5px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

@-moz-keyframes wobble-horizontal-on-hover  /* Firefox */ {
  10%,
  90% {
    transform: translate3d(-0.5px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

@-o-keyframes wobble-horizontal-on-hover  /* Opera */ {
  10%,
  90% {
    transform: translate3d(-0.5px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
@-ms-keyframes wobble-horizontal-on-hover  /* IE */ {
  10%,
  90% {
    transform: translate3d(-0.5px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
