@import "../../styles/variables.scss";

.outer-wrapper {
  // min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  margin: 0;
}

// .container {
//   position: relative;
//   margin: 0 auto;
//   padding: 0;
//   //   left: 50%;
//   //   transform: translateX(-50%);
//   //   filter: blur(10px);
//   //   width: 40%;
//   //   height: 160px;
//   background: rgba(0, 0, 0, 0.4);
//   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
//   &:before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     filter: blur(4px);
//     background: inherit;
//     // border: 1px solid red;
//     box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.02);
//   }
// }

// .row {
//   display: flex;
//   align-items: center;
// }

.inner-wrapper {
  // text-align: center;
  // padding: 60px 0;
}

.landing {
  position: relative;
  // display: flex;
  // align-items: center;
  // align-content: center;
  min-height: 100vh;
  h1 {
    font-size: 8rem;
    color: white;
    line-height: normal;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    @media screen and (max-width: 1199px) {
      font-size: 6.6rem;
    }
    @media screen and (max-width: 991px) {
      font-size: 4.9rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 3.5rem;
    }
    @media screen and (max-width: 557px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 475px) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 405px) {
      font-size: 2.2rem;
    }
    @media screen and (max-width: 365px) {
      font-size: 1.9rem;
    }
    @media screen and (max-width: 322px) {
      font-size: 1.8rem;
    }
  }
}

.arrowContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  // padding-bottom: 40px;
  transition: all 0.2s ease-in;
  svg {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 40px;
    fill: rgba(255, 255, 255, 0.6);
    &:hover {
      fill: rgba(255, 255, 255, 0.9);
      cursor: pointer;
    }
    margin-bottom: 20px;
  }
}

// .arrow {
// margin: 0 auto;
// margin-left: 50%;
// transform: translateX(-50%);
// width: 40px;
// fill: rgba(255, 255, 255, 0.6);
// &:hover {
//   fill: rgba(255, 255, 255, 0.9);
//   cursor: pointer;
// }
// }

.text {
  text-align: center;
  padding: 60px 0;
}
